.navbar {
    width: 100%;
    display: block;  
    color: #ffffff;  
}

.nav-item {
    float: left;
    min-width: 50px;
    padding: 2px 10px;
    border: 2px solid #ffffff;
}

li:hover {
    cursor: pointer;
}
