<form (submit)="onFormSubmit()">
 
  <div class="form-group">
  <label  for="name">Task</label><br />
  <input  class="form-control" type="text" name="name" id="name" [(ngModel)]="task.name">
  
  </div>

  <div class="form-group">
  <label for="status">Status</label><br />
  <input class="form-control" type="text" name="status" id="status" [(ngModel)]="task.status" [ngClass]="{Done: isActive('Done')}"><br />  
  </div>

  <div class="form-group" >
  <input  type="submit" value="Save" />
  <input  type="button" value="Cancel" (click) = "onCancelBtnClick()"/>
  </div>
</form>